{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2 class="mb-4">Dashboard de Prophet</h2>

  <div class="row">
    <div class="col-md-6 mb-4">
      <h5>Serie completa vs Predicción</h5>
      <img src="data:image/png;base64,{{ plot_full }}" class="img-fluid rounded">
    </div>
    <div class="col-md-6 mb-4">
      <h5>Últimos 5 días & Predicción siguiente día</h5>
      <img src="data:image/png;base64,{{ plot_recent }}" class="img-fluid rounded">
    </div>
  </div>

  <h5>Métricas</h5>
  <ul class="list-group mb-4">
    <li class="list-group-item">RMSE: {{ metrics.rmse }}</li>
    <li class="list-group-item">MAE: {{ metrics.mae }}</li>
    <li class="list-group-item">MAPE: {{ metrics.mape }}%</li>
    <li class="list-group-item">R²: {{ metrics.r2 }}</li>
    <li class="list-group-item">Predicción para {{ metrics.target_date }}: {{ metrics.predicted_price }}</li>
    <li class="list-group-item">IC dinámico 95%: [{{ metrics.lower_95 }}, {{ metrics.upper_95 }}]</li>
  </ul>

  <!-- Pie charts lado a lado -->
  <div class="row">
    <div class="col-md-6 mb-4 text-center">
      <h5>Precisión direccional</h5>
      <img src="data:image/png;base64,{{ plot_directional }}" class="img-fluid rounded" alt="Pie chart precisión direccional">
    </div>
    <div class="col-md-6 mb-4 text-center">
      <h5>Cobertura IC Estática</h5>
      <img src="data:image/png;base64,{{ plot_coverage }}" class="img-fluid rounded" alt="Pie chart cobertura IC">
    </div>
  </div>

{% endblock %}
